#root{
    
}
/*DIV CONTENEDOR DEL MENÚ*/
.container-header{
    background-image: url(images/imagen.jpg) ;
    position: relative; 
    height: 100vh; 
}
/*LOGO DE ISITA*/
.logo-isita{
    width: 250px;
    height: 60px;
    float: left;
    padding-left: 10vh;
    margin-top: 50px; 
}

/*ESTILOS DEL MENÚ*/
ul, ol {
    list-style:none;
}

.menu {
    text-align:center;
    margin: 0;
}

.menu > li {
display: inline-block;
}

.menu li a {
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:inline-block;
    margin-top: 50px;
    font-family: 'Roboto Condensed';
    font-size: 16px;
}
.menu li a:hover {
    color:red;
}
.div-menu{
    margin: 0;
    width: 100%;
    justify-content:center;
}
.boton-idioma{
    margin-left: 25px;
    padding: 0;
}