/*ESTILOS DEL DIV NOSOTROS*/
.div-productos{
    padding-top: 90px;
    padding-bottom: 50px;
}
.background{
    background-color: black;
}
.titulo-nuestros-productos{
    font-size: 35px;
color: white;
}
.texto-nuestros-productos{
    text-align: center;
    color: white;
    font-weight: lighter;
    margin: 0;
}
.producto{
    width: 270px;
    height: 350px;
    background: #F5F5F5;
    opacity: 0.5;
}
.separador-abajo{
    margin-bottom: 90px;
}
.separador-arriba{
    margin-top: 70px;
}