/*ESTILOS DEL TEXTO DE NOSOTROS*/
p{
    text-align: justify;
    font-size: 18px;
}
/*ESTILOS DEL DIV NOSOTROS*/
.div-nosotros{
    padding-top: 90px;
    padding-bottom: 50px;
}
.separador-abajo{
    margin-bottom: 90px;
}

/*ESTILOS DEL DIV IMAGEN NOSOTROS*/

.image-nosotros{
    width: 500px;
   /*margin-left: 85px;*/
    height: 300px;
}

.titulo-nosotros{
    font-size: 35px;
    float: left;
}
.separador{
    border-bottom:solid 5px black;
    width:7%;
    height:50px;
}
.image-ibm{
    width: 160px;
    height: 70px;
}
.image-microsoft{
    width: 160px;
    height: 65px;
}
.image-moprosoft{
    width: 85px;
    height: 80px;
}
.image-pmi{
    width: 160px;
    height: 70px;
}
.image-titanium{
    width: 160px;
    height: 70px;
}
.imagen-separacion{
    padding: 0 30px  0 30px;
}
.imagen-separacion-pmi{
    padding-left: 30px;
}
